{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block content %}
<h3>登录听说写系统</h3>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>用户名</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>密码</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
    {% endif %}

    <button type="submit" class="btn btn-primary">登录</button>
</form>
{% endblock %}
